
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header, footer {
    background-color: #1e1e1e;
    color: #FEFEFE;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

footer{
    margin-top: auto; /* Empurra o rodapé para o final */
    width: 100%;
}

/* Barra de busca centralizada acima do grid */
#search-container {
    margin: 20px 0;
    display: flex;
    gap: 10px;
}

#search-btn img {
    width: 20px; 
    height: 20px;
}

#search-btn {
    padding: 5px 10px;
    cursor: pointer;
}

input {
    padding: 10px;
    width: 300px;
    font-size: 16px;
}

/* Grid Layout para as fotos */
#gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsivo  */
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    margin-bottom: 20px;
}

/* Cartão da foto */
.photo-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease; 
}


.photo-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.photo-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}


.photo-card h3 {
    font-size: 1rem;
    margin: 10px 0;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); 
}

/* A imagem dentro do modal */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px; 
    max-height: 80vh; 
    margin-top: 5%;
    border-radius: 5px;
    animation: zoom 0.3s; 
}


#modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    font-size: 20px;
}


.close-btn {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover {
    color: #bbb;
}


@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}

}
